# Forza la visualizzazione di C++ come linguaggio principale
* linguist-language=C++

# Mantieni l'analisi normale per tutti i linguaggi secondari
*.c linguist-language=C
*.ts linguist-language=TypeScript
CMakeLists.txt linguist-language=CMake
*.cmake linguist-language=CMake

# Escludi SOLO dalla label principale (non dalle statistiche)
Makefile linguist-documentation=false linguist-detectable=true
*.mk linguist-detectable=true
Makefile -linguist-language
